<% include header.html %>
           
            <aside class="right-side">

                <section class="content-header">
                    <h1>
                        管理中心
                        <small>控制台</small>
                    </h1>
                    <ol class="breadcrumb">
                        <li><a href="#"><i class="fa fa-dashboard"></i> 管理中心</a></li>
                        <li class="active">控制台</li>
                    </ol>
                </section>
      
                <section class="content">

                    <%= msg %>

                    <a href=""></a>


                </section>

                <section class="content-footer">
                    <div class="text-center">
                        © 2015 All Rights Reserved. Lifangsun
                    </div>
                </section>
            </aside>

 <% include footer.html %>     