	<div class="col-lg-3  visible-lg  right">
				<div class="panel panel-default">
				  	<div class="panel-heading">
				    	<h3 class="panel-title">热门文章</h3>
				  	</div>
				  	<div class="panel-body">
				   		<ul class="list-unstyled list1">
				   			<% for( var i = 0;i < hot.length;i++ ){ %>
				   			<li>
				   				<span class="label <% if(i < 3 ){ %>
									label-danger
				   				<% }else{ %>
				   					label-default
				   				<% } %>">
				   				<%= i+1 %>
				   				</span>
				   				<a href="/book?id=<%= hot[i]._id %>" >&nbsp;<%= hot[i].title %></a>
				   			</li>
				   			<% } %>
			
				   		</ul>
				  	</div>
				</div>
				<div class="panel panel-default">
				  	<div class="panel-heading">
				    	<h3 class="panel-title">热门标签</h3>
				  	</div>
				  	<div class="panel-body list2">
				   		<a href="">运营</a>
				   		<a href="">开发</a>
				   		<a href="">前端</a>
				   		<a href="">响应式</a>
				   		<a href="">html5</a>
				   		<a href="">css3</a>
				   		<a href="">图案</a>
				   		<a href="">设计</a>
				   		<a href="">logo</a>
				   		<a href="">编程</a>
				   		<a href="">程序员</a>
				  	</div>
				</div>
			</div>
		</div>
	</div>
	<!-- 底部 开始 -->
	<div class="footer footers">
		<div class="container text-center">
			<p>版权所有，保留一切权利！ 转载内容版权归作者及来源网站所有，原创内容转载请注明来源。</p>
			<p>Copyright © 2013-2014 fang, All Rights Reserved.</p>
		</div>
	</div>
	<!-- 底部 結束 -->
	<script src='/js/jquery-1.11.3.min.js'></script>
	<script src='/js/bootstrap.min.js'></script>
</body>
</html>